/* Docs Home CSS Styles
------------------------- */

.chapter-intro {
  padding: 70px 0 80px;
  margin-bottom: 0;
  color: #4b4b4b;
	text-align:center;

	h1 {
	  font-size: 100px;
	  line-height: 1;
	  letter-spacing: -2px;
	}
	p {
	  font-size: 28px;
	  font-weight: 200;
	  line-height: 1.25;
	}
}

/* Textual links in chapter-intro */
.chapter-intro-links {
  margin: 0;
  list-style: none;
	
	li {
  	display: inline;
  	padding: 0 10px;
  	color: rgba(0,0,0,.25);
	}
}

/* Bootstrap Overriding for Docs */
#docsnavbar.navbar .nav li > a { padding: 15px; }
#docsnavbar.navbar a.brand { padding-bottom:0px;}

