<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Tempalette - HTML5/CSS3 Templates Library for quick starting responsive layouts using boilerplate, twitter bootstrap & modernizr. </title>
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				
        <meta name="description" content="">
		    <meta name="copyright" content="2012 kpvarma" />
		    <meta name="content-language" content="en" />
		    <meta name="author" content="Krishnaprasad Varma" />
		    <meta name="resource-type" content="document" />
		    <meta name="distribution" content="global" />
		    <meta name="rating" content="general" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
				<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
				
				<link href="../stylesheets/bootstrap.css" media="all" rel="stylesheet" type="text/css" />
		    <link href="../stylesheets/bootstrap-responsive.css" media="all" rel="stylesheet" type="text/css" />
		    <link href="../stylesheets/tempalette-bootstrap.css" media="all" rel="stylesheet" type="text/css" />
		    <link href="../stylesheets/tempalette-layout.css" media="all" rel="stylesheet" type="text/css" />
		    <link href="../stylesheets/tempalette-general.css" media="all" rel="stylesheet" type="text/css" />
		    <link href="../stylesheets/tempalette-background.css" media="all" rel="stylesheet" type="text/css" />
		    <link href="../stylesheets/tempalette-buttons.css" media="all" rel="stylesheet" type="text/css" />
		    <link href="../stylesheets/tempalette-glass.css" media="all" rel="stylesheet" type="text/css" />
		    <link href="../stylesheets/tempalette-solid.css" media="all" rel="stylesheet" type="text/css" />
				
				<!-- <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'> -->
		    <!--[if lt IE 9]>
		        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
		        <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
		        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
		    <![endif]-->
		
        <script src="../javascripts/modernizr.min.js"></script>

				<!-- <meta content="authenticity_token" name="csrf-param" />
				    <meta content="/ZqkCUVgy7Q/EkC7HjJurWI8byWAUPgOF0hUtUDKFB0=" name="csrf-token" /> -->
				
    </head>
    <body class='theme-image-mountains theme-light theme-glass'>
	
				<div class="page-background"></div>
			  <div class="container-fluid padding-top-50 padding-bottom-20">
					
					<!--[if lt IE 7]>
							<div class="palette palette-outer margin-20 padding-40">
	            	<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
							</div>
	        <![endif]-->
					
					<div class="palette palette-outer margin-20 padding-40">
			  		<p>Hello world! This is HTML5 Boilerplate.</p>
					</div>
			  </div>
	

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../javascripts/jquery.js"><\/script>')</script>

		    <script src="../javascripts/jquery.cookie.js" type="text/javascript"></script>
		    <script src="../javascripts/bootstrap.min.js" type="text/javascript"></script>
		    <script src="../javascripts/tempalette.utilities.js" type="text/javascript"></script>
		    <script src="../javascripts/tempalette.config.js" type="text/javascript"></script>
		    <script src="../javascripts/tempalette.init.js" type="text/javascript"></script>

        <!-- <script src="js/plugins.js"></script>
        <script src="js/main.js"></script> -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            //var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            //(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            //g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            //s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

    </body>
</html>
