/*.theme-default .palette { min-height: 20px;padding: 10px;margin-bottom: 20px;background: transparent; }

.theme-default.contrast-dark .palette-outer { background-color: #4b4b4b;color:#fff; border: 1px solid whitesmoke; }
.theme-default.contrast-light .palette-outer { background-color: white;color:#4b4b4b; border: 1px solid #c1c1c1; }
.theme-default.contrast-dark .palette-outer:hover, .theme-default .palette-outer.selected { background-color: #000; }
.theme-default.contrast-light .palette-outer:hover, .theme-default .palette-outer.selected { background-color: #fff; }

.theme-default.contrast-dark .palette-inner { background-color: #898989;color:#4b4b4b;border-bottom: 1px solid #898989; }
.theme-default.contrast-light .palette-inner { background-color: #4b4b4b;color:#fff;border-bottom: 1px solid #4b4b4b; }
.theme-default.contrast-dark .palette-inner:hover, .theme-default .palette-inner.selected { background-color: #fff; }
.theme-default.contrast-light .palette-inner:hover, .theme-default .palette-inner.selected { background-color: #000; }

.theme-default.contrast-dark .palette-token { background-color: whitesmoke;color:#4b4b4b; }
.theme-default.contrast-light .palette-token { background-color: #4b4b4b;color:#fff; }
.theme-default.contrast-dark .palette-token a { color:#fff !important}
.theme-default.contrast-light .palette-token a { color:#4b4b4b !important}
.theme-default.contrast-dark .palette-token:hover, .theme-default .palette-inner.selected { background-color: #000;color:#fff; }
.theme-default.contrast-light .palette-token:hover, .theme-default .palette-inner.selected { background-color: whitesmoke;color:#4b4b4b; }

.theme-default .palette-shadow { -webkit-box-shadow: inset 0 1px 1px rgb(0, 0, 0); -moz-box-shadow: inset 0 1px 1px rgb(0, 0, 0); box-shadow: inset 0 1px 1px rgb(0, 0, 0); }
.theme-default .palette-rounded { -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; }
.theme-default .palette-bordered { border: 1px solid #c1c1c1; }

.theme-default .palette > h1, .theme-default .palette > h2, .theme-default .palette > h3, .theme-default .palette > h4, .theme-default .palette > h5, .theme-default .palette > h6 { margin: 10px 0; font-family: inherit; font-weight: bold; line-height: 20px; color: #4b4b4b; text-rendering: optimizelegibility; text-align:left; border-bottom:1px solid #c1c1c1; padding-bottom:20px; }
.theme-default.contrast-dark .palette > h1, .theme-default.contrast-dark .palette > h2, .theme-default.contrast-dark .palette > h3, .theme-default.contrast-dark .palette > h4, .theme-default.contrast-dark .palette > h5, .theme-default.contrast-dark .palette > h6 { color: #fff; border-bottom:1px solid whitesmoke;}
.theme-default .palette > h4, .theme-default .palette > h5, .theme-default .palette > h6 { padding-bottom:10px; }
.theme-default .palette .palette-inner > h1, .theme-default .palette .palette-inner > h2, .theme-default .palette .palette-inner > h3, .theme-default .palette .palette-inner > h4, .theme-default .palette .palette-inner > h5, .theme-default .palette .palette-inner > h6 { color: whitesmoke; }
.theme-default.contrast-dark .palette .palette-inner > h1, .theme-default.contrast-dark .palette .palette-inner > h2, .theme-default.contrast-dark .palette .palette-inner > h3, .theme-default.contrast-dark .palette .palette-inner > h4, .theme-default.contrast-dark .palette .palette-inner > h5, .theme-default.contrast-dark .palette .palette-inner > h6 { color: #4b4b4b; }

h1 > a.right-heading-link, h2 > a.right-heading-link, h3 > a.right-heading-link, h4 > a.right-heading-link, h5 > a.right-heading-link, h6 > a.right-heading-link {float:right;color:#898989;font-style:underline; font-size:11px;}

.theme-default .palette a:not(.close):not(.escape-color)	{color:#4b4b4b;font-weight:bold;}
.theme-default .palette a:not(.close):not(.escape-color):hover {color:#005580;}

.lnk { color: #fff; }
.lnk:hover { color: orange; }

.theme-default .palette a.title {font-size:18px;}
.theme-default .palette .palette-inner a.title {color:#fff;}
.theme-default .palette .palette-inner a.title:hover {color:orange;}

.theme-default .palette a.sub-title {font-size:16px;} 
.theme-default .palette .palette-inner a.sub-title {color:#fff;}
.theme-default .palette .palette-inner a.sub-title:hover {color:orange;}

.theme-default .palette a.small-title {font-size:14px;}
.theme-default .palette .palette-inner a.small-title {color:#fff;}
.theme-default .palette .palette-inner a.small-title:hover {color:orange;}

.theme-default .palette a.small-sub-title {font-size:13px;}
.theme-default .palette .palette-inner a.small-sub-title {color:#fff;}
.theme-default .palette .palette-inner a.small-sub-title:hover {color:orange;}

.theme-default .palette a.tiny-title {font-size:12px;}
.theme-default .palette .palette-inner a.tiny-title {color:#fff;}
.theme-default .palette .palette-inner a.tiny-title:hover {color:orange;}
.theme-default .palette .description {color:#4b4b4b;margin:0px;}
.theme-default .palette .palette-inner .description {color:#fff;}
.theme-default .palette .description > a.read-more {font-size:11px;float:right;}

.theme-default .palette a.author {color:brown;font-weight:bold !important}
.theme-default .palette .palette-inner a.author {color:darkorange;font-weight:bold !important}
.theme-default .palette .time, .theme-default .palette .date, .theme-default .palette .time-ago, .theme-default .palette .date-time, .theme-default .palette .display-time {color:#898989;}
*/
/* Form Heading */
/*.form-heading1 {text-align: left;margin: 0px 0px 20px 0px;color:#4b4b4b;border-bottom:1px solid #c1c1c1;padding-bottom:10px;}*/

/* Overriding simple form css */
/*.theme-default .palette .form-horizontal .control-group {margin-bottom:10px;}
.theme-default .palette .form-horizontal .help-block {text-align:right;color:#898989;}
.theme-default .palette .form-horizontal .controls input{width:90%;}
.theme-default .palette .form-horizontal .control-label{color:#4b4b4b;}*/