
body {
  padding-bottom: 30px;
  background:#fff;
}

footer {background-color:rgba(255, 255, 255, .9); border-top:10px solid rgba(0, 0, 0, .6); border-bottom:10px solid rgba(0, 0, 0, .6); padding:10px;}
.footer-block h4 {color:#898989;text-align:center;border-bottom:1px solid #c1c1c1;padding:10px;font-size:15px;}
.footer-block a {font-size:13px; color:#4b4b4b;}
.footer-block li.center-all {text-align:center;}
	
/** Social Icons **/
ul.social { list-style: none;list-style-type: none; padding: 10; }
ul.social img { border: medium none;margin:5px; }